body {
  font: 12px sans-serif;
  text-align: center;
  margin: 20px;
}

Button{
  margin: 2px !important;
}

#buttonStyler {
  margin-top: 26px;
  padding-top: 23px;
}


#titleAdjuster {
  margin-top: 32px;
}