#star {
    background: #464646 !important;
    color: rgba(231, 223, 232, 1) !important;
    text-shadow: none;
    padding: 8px;
    border-radius: 33px;
        width: 305px;
}


.cat {
    font-weight: 400;
    font-size: 18px;
    font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.5;
    color: #606c71;
}

#create {
  width: 176px;
  justify-content: center;
    position: absolute;
  left: 23%;


}

.global{
  margin-top: 100px;
}


*:focus {
  outline: 1px solid #3D3F42; /* Change the color and style as needed */
}

.grow {
    align-content: center;
  display: block;
    align-items: center;
  justify-content: center;
    position: absolute;

  max-width: 305px;
  white-space: pre-line; 
}

pre {
  max-width: 305px;
   white-space: pre-line; 
}